[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ICV"]
	path = ICV
	url = https://github.com/cran/ICV
[submodule "npregderiv"]
	path = npregderiv
	url = https://github.com/cran/npregderiv
[submodule "OSCV"]
	path = OSCV
	url = https://github.com/cran/OSCV
